version: '3'

services:
  django:{% if cookiecutter.use_celery == 'y' %} &django{% endif %}
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile
    image: {{ cookiecutter.project_slug }}_production_django
    {%- if cookiecutter.use_redis == 'y' %}
    depends_on:
      - redis
    {% endif %}
    env_file:
      - ./.envs/.production/.django
      - ./.envs/.production/.postgres
    command: /start
  {%- if cookiecutter.use_redis == 'y' %}

  redis:
    image: redis:3.2
  {% endif %}
  {%- if cookiecutter.use_rabbitmq == 'y' %}

  rabbitmq:
    image: rabbitmq:latest
  {% endif %}
  
  {%- if cookiecutter.use_celery == 'y' %}

  celeryworker:
    <<: *django
    image: {{ cookiecutter.project_slug }}_production_celeryworker
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: {{ cookiecutter.project_slug }}_production_celerybeat
    command: /start-celerybeat

  flower:
    <<: *django
    image: {{ cookiecutter.project_slug }}_production_flower
    ports:
      - "5555:5555"
    command: /start-flower

  {%- endif %}
